<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
            {{>header}}
            </head>

           I need Help ASAP !
        
    
    <body>
        <div class="main-content"
        <h1>
            Corona Virus is about to finish !
        </h1>
        </div>
    </body>
    
            {{>footer}}
            
</html>