<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png"
        
    </head>
    <body>
        <div class="main-content">{{>header}}
            <p> Use this site to get Weather</p>

<form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id = "msg1"></p>
        <p id = "msg2"></p>

        </div>
        <script src = "/JS/app.js">
        </script>
    </body>
    
            {{>footer}}
</html>